<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="StoryMakerTestConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=StoryMakerTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StoryMakerTestConnectionString2" connectionString="Data Source=C501A10;Initial Catalog=StoryMakerTest;User ID=StoryMaker;Password=storymaker"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime maxRequestLength="204800" /> 

    </system.web>

</configuration>
